{% extends 'base.html' %}

{% block head_title %}
 | Home
{% endblock head_title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Tweetme</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

<div class="container" id='tweets'>
    <div class="row">
        Loading...
    </div>
</div>

<script>
    
    const tweetsElement = document.getElementById("tweets")

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
        return
    }
    
    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-small' onclick=handleDidLike(" + tweet.id + "," +  tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 border rounded py-3 mb-4' id='tweet-" + tweet.id +
            "'><p>" + tweet.content + 
            "</p><div class='btn-group'>" + likeBtn(tweet) +
            "</div></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for (i=0; i<listedItems.length; i++) {
            var tweetObject = listedItems[i]
            var currentItem = formatTweetElement(tweetObject)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>
{% endblock content %}